<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<link rel="preconnect" href="https://www.{{ .referral_site_domain }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

	<link rel="stylesheet" href="/static/styles/main.min.css" />
	<link rel="stylesheet" href="/static/styles/main.css" />

	<script type="text/javascript" src="/static/scripts/main.min.js"></script>
	<script type="text/javascript" src="/static/scripts/main.js"></script>

	{{ if .page_title }}
		<title>{{ .page_title }}</title>
	{{ end }}

	{{ if .page_description }}
		<meta name="description" content="{{ .page_description }}" />
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="icon" type="image/png" href="/static/images/favicon.png" />
</head>
<body>
	<aside class="sidebar">
		{{ partial "partial/sidebar" . }}
	</aside>

	<main>
		{{ template "content" . }}
	</main>
</body>
</html>