<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{ if .page_title }}<title>{{ .page_title }}</title>{{ end }}

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />

	<link rel="stylesheet" href="/static/styles/main.css" />

	<script type="text/javascript" src="/static/scripts/main.js"></script>
</head>
<body>
	{{ template "content" . }}

	{{ partial "partial/footer" . }}
</body>
</html>