<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<link rel="preconnect" href="https://www.{{ .referral_site_domain }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

	<link rel="stylesheet" href="/static/styles/main.min.css" />

	<script type="text/javascript" src="/static/scripts/main.min.js"></script>

	{{ if .page_title }}
		<title>{{ .page_title }}</title>
	{{ end }}

	{{ if .page_description }}
		<meta name="description" content="{{ .page_description }}" />
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{ if .twitter_card_type }}
		<meta name="twitter:card" content="{{ .twitter_card_type }}">

		{{ if .twitter_card_image}}
			<meta name="twitter:image" content="{{ .twitter_card_image }}">
		{{end }}

		{{ if .twitter_card_title }}
			<meta name="twitter:title" content="{{ .twitter_card_title }}">
		{{ end }}

		{{ if .twitter_card_description }}
			<meta name="twitter:description" content="{{ .twitter_card_description }}">
		{{ else if .page_description }}
			<meta name="twitter:description" content="{{ .page_description }}">
		{{ end }}
	{{ end }}

	<link rel="icon" type="image/png" sizes="768x768" href="/static/images/favicon/768.png" />
	<link rel="icon" type="image/png" sizes="128x128" href="/static/images/favicon/128.png" />
	<link rel="icon" type="image/png" sizes="64x64" href="/static/images/favicon/64.png" />
</head>
<body>
	<aside class="sidebar">
		{{ partial "partial/sidebar" . }}
	</aside>

	<main>
		{{ template "content" . }}
	</main>
</body>
</html>