{{ partial "partial/header" . }}

<div class="item_profile">
	<hgroup class="item_headings">
		<h3 class="item_title_heading">
			<a href="{{ .item.LinkURL }}" target="_blank">
				{{ .item.Title }}
			</a>
		</h3>

		<h4 class="item_store_heading">
			<a href="https://www.zazzle.com/store/{{ .item.StoreName }}?{{ .referral_query_key }}={{ .referral_query_value }}" target="_blank">
				{{ .item.StoreName }}
			</a>
		</h4>
	</hgroup>

	<a href="{{ .item.LinkURL }}" target="_blank">
		<img src="{{ .item.ImageURL }}" alt="{{ .item.Title }}" title="{{ .item.Title }}" />
	</a>

	<p class="description">{{ .item.Description }}</p>

	<ul class="keywords">
		{{ range $i, $kw := .item.Keywords }}
			<li><a href="https://www.zazzle.com/s/{{ (index $.item_escaped_keywords $i) }}?{{ $.referral_query_key }}={{ $.referral_query_value }}" target="_blank">{{ $kw }}</a></li>
		{{ end }}
	</ul>

</div>

{{ partial "partial/nav" . }}
