{{ partial "partial/header" . }}

<div class="item_profile">
	<hgroup class="item_headings">
		<h3 class="item_title_heading">
			<a href="{{ .item.LinkURL }}" target="_blank">
				{{ .item.Title }}
			</a>
		</h3>

		<h4 class="item_store_heading">
			<a href="https://www.zazzle.com/store/{{ .item.StoreName }}?{{ .referral_query_key }}={{ .referral_query_value }}" target="_blank">
				{{ .item.StoreName }}
			</a>
		</h4>
	</hgroup>

	<a href="{{ .item.LinkURL }}" target="_blank">
		<img src="{{ .item.ImageURL }}" alt="{{ .item.Title }}" title="{{ .item.Title }}" />
	</a>

	<p class="description">{{ .item.Description }}</p>

	<ul class="keywords">
		{{ range $i, $kw := .item.Keywords }}
			<li><a href="https://www.zazzle.com/s/{{ (index $.item_escaped_keywords $i) }}?{{ $.referral_query_key }}={{ $.referral_query_value }}" target="_blank">{{ $kw }}</a></li>
		{{ end }}
	</ul>

	<hr />

	<div class="international">
		<h5 class="international_heading">Buy From a Local Store</h5>

		<table>
			<thead>
				<tr>
					<th>National Flag</th>
					<th>Country</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="{{ .item.LinkURL }}" target="_blank">
							<img class="flag" src="/static/images/flags/us.webp" alt="National flag of the United States of America." />
						</a>
					</td>
					<td>
						<a href="{{ .item.LinkURL }}" target="_blank">
							United States of America
							<br />
							<small>(with international shipping)</small>
						</a>
					</td>
				</tr>
				{{ if (not .store.OnlyUS) }}
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalAU }}" target="_blank">
								<img class="flag" src="/static/images/flags/au.webp" alt="National flag of Australia." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalAU }}" target="_blank">
								Australia
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalBR }}" target="_blank">
								<img class="flag" src="/static/images/flags/br.webp" alt="National flag of Brazil." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalBR }}" target="_blank">
								<span lang="pt">Brasil</span>
								<br />
								<small>[Brazil]</small>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalCA }}" target="_blank">
								<img class="flag" src="/static/images/flags/ca.webp" alt="National flag of Canada." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalCA }}" target="_blank">
								Canada
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalDE }}" target="_blank">
								<img class="flag" src="/static/images/flags/de.webp" alt="National flag of Germany." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalDE }}" target="_blank">
								<span lang="de">Deutschland</span>
								<br />
								<small>[Germany]</small>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalES }}" target="_blank">
								<img class="flag" src="/static/images/flags/es.png" alt="National flag of Spain." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalES }}" target="_blank">
								<span lang="es">España</span>
								<br />
								<small>[Spain]</small>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalFR }}" target="_blank">
								<img class="flag" src="/static/images/flags/fr.png" alt="National flag of France." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalFR }}" target="_blank">
								France
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalJP }}" target="_blank">
								<img class="flag" src="/static/images/flags/jp.png" alt="National flag of Japan." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalJP }}" target="_blank">
								<span lang="jp">日本</span>
								<br />
								<small>[Japan]</small>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalNZ }}" target="_blank">
								<img class="flag" src="/static/images/flags/nz.png" alt="National flag of New Zealand." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalNZ }}" target="_blank">
								New Zealand
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="{{ .item.LinkURLInternationalGB }}" target="_blank">
								<img class="flag" src="/static/images/flags/gb.webp" alt="National flag of the United Kingdom of Great Britain and Northern Ireland." />
							</a>
						</td>
						<td>
							<a href="{{ .item.LinkURLInternationalGB }}" target="_blank">
								United Kingdom
							</a>
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
</div>

{{ partial "partial/nav" . }}
